body {
  background-color: #000000;
}

h1 {
  font-size: 72pt;
  font-family: sans-serif;
  color: white;
  font-weight: lighter;
}

#loud {
  font-weight: 100;
}

#quiet {
  font-weight: bolder;
}


#loud:hover {
  font-weight: bolder;
  font-size: 100pt;
}

#quiet:hover {
  font-weight: 100;
  font-size: 25pt;
}
