ul {
  list-style-type: none;
  margin-left: 0.5em;
}

a:link {
  text-decoration: none;
  color: #292727;
  font-family: sans-serif;
}

a:hover {
  color: #423A35;
}

a:visited {
  color: #C98263;
}

p {
  font-size: 16pt;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 15pt
}

h1,
h2,
h3 {
  color: #423a35
}

h1 {
  font-size: 24pt;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 25pt
}

h2 {
  font-size: 20pt;
  font-family: sans-serif;
  font-weight: lighter;
  line-height: 8pt;
}

h3 {
  font-size: 12pt;
  font-family: sans-serif;
  font-weight: lighter;
}
