body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0e4d5;
    font-family: 'Raleway', sans-serif;
}

.container {
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  bottom: 0px;
  left: auto;
  right: auto;
  margin-top: 5%;
}

.bcard {
  width: 100%;
  height: auto;
  min-height: 30%;
  border: dotted 1.5px #9a9a9a;
  background-color: #ccc7ba;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#bcard-pic {
  width: 30%;
  height: 30%;
  float: right;
}

.bcard-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-variant: small-caps;
  text-align: left;
  color: #4f4f4f;
  margin-top: 0;
  margin-bottom: 0.1em;

}

.bcard-h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-variant: normal;
  font-weight: 400;
  text-align: left;
  color: #797979;
  margin-top: 0;
  margin-bottom: 0.6em;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  font-style: italic;
  text-align: left;
  color: #797979;
  margin-top: 0;
  margin-bottom: 0.4em;
}

span {
  font-style: oblique;
}
