.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  height: auto;
  margin-top: 0;
}

.header {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}

.content {
  flex-grow: 8;
  flex-shrink: 0;
  flex-basis: 100px;
}

.test {
  display:flex;
  flex-direction: row;
}

.img_container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}

.text_container {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
}

ul {
  list-style-type: none;
  margin-left: -20px;
  margin-bottom: 1em;
}

ol {
  list-style-type: upper-latin;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: #8b675e;
  font-family: 'Raleway', Verdana, sans-serif;
}

a:hover {
  color: #423A35;
  text-decoration: underline;
  font-family: 'Raleway', Verdana, sans-serif;
}

a:visited {
  color: #b26e6e;
  font-family: 'Raleway', Verdana, sans-serif;
}

.backbutton {
  font-size: 0.6em;
  font-weight: lighter;
  line-height: 15pt
}

p,
h1,
h2,
h3,
h4 {
  color: #393939;
  font-family: 'Raleway', Verdana, sans-serif;
  line-height: 1em;
}

p {
  font-size: 0.95em;
  font-weight: lighter;
  line-height: 1.6em;
  margin-top: 0;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1em;
  margin-top: 0;
  color: #4c4c4c;
  font-variant-numeric: lining-nums;
}

.title {
  font-size: 3em;
  font-weight: 600;
  font-family: 'Raleway', Verdana, sans-serif;
  color: #4c4c4c;
  margin-top: 0;
  margin-bottom: 0.4em;
  font-variant-numeric: lining-nums;
}

h2 {
  font-size: 1em;
  font-weight: lighter;
  line-height: 8pt;
  font-variant: small-caps;
  /*margin-top: 10%;*/
}

h3 {
  font-size: 0.75em;
  font-weight: lighter;

}

h4 {
  font-size: 0.75em;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 1em;
}

body {
  background-color: #f0e4d5;
  margin: 20px;
  display: flex;
}

svg {
  background-color: #E1E2E5;
  padding-left: 6%;
  padding-right: 1%;
  padding-bottom: 6%;
  padding-top: 2%;
  /*-moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";*/
}

.yAxis, .xAxis {
  stroke-width: 0.8;
  stroke: black;
}
.label {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 0.8em;
}

.yAxisLabel{
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 1.2em;

}

.xAxisLabel {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 1.2em;
}

.credits {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 0.6em;
  text-decoration: underline;
  font-variant: small-caps;
  font-variant-numeric: lining-nums;
}

.signature {
  font-family: 'Raleway', Verdana, sans-serif;
  font-size: 0.6em;
  text-decoration: underline;
  font-variant-numeric: lining-nums;
}

.data:hover {
  stroke: black;
  stroke-width: 0.8pt;
}
